* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #222;
  color: #fff;
  height: 10vh;
  /* width: 100vw; */
}

.links {
  display: flex;
  gap: 40px;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  padding: 10px 20px;
  background-color: white;
  color: balck;
  border: none;
  cursor: pointer;
}

.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6ca275;
  gap: 100px;
}

.footer {
  background-color: #222;
  color: #fff;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.card {
  width: 200px;
  height: 250px;
  background-color: #ccc;
  border-radius: 10px;
  padding: 10px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
